* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html, body {
	min-height: 100%;
}

body {
	box-sizing: border-box;
	background: linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%);
	font-family: 'Montserrat', sans-serif;
}

*:focus {
	outline: none;
}

section {
	width: 640px;
	margin: 64px auto 0;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.25) 0 30px 18px -24px;
	background: #fff;
	overflow: hidden;
	padding: 16px;
}

.playback button {
	border-radius: 50%;
	border: none;
	background: #000;
	cursor: pointer;
	height: 32px;
	width: 32px;
	color: #fff;
}

.visualizer {
	height: 320px;
	padding: 0;
}